---
---

// $primary: #159957;
$primary: #7414dc;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: $primary !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: $primary !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(120deg, #fdc91f, #003bfb);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  .logo {
    flex: 1 0 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-height: 8rem;
      max-width: 100%;
    }
  }
  .title {
    flex: 4 0 20rem;
    .project-name {
      margin-top: 0;
      padding-top: 0;
    }
    .project-tagline {
      margin-bottom: 0;
      padding-bottom: 0;
      font-weight: bold;
    }
  }
}

nav.page-header-links ul {
  margin: 0;
  padding: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  background-color: #04045c;
  &,
  a {
    color: white;
    font-weight: bold;
  }
  li {
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.25rem;
    border-radius: 1rem;
  }
  li:hover,
  li:active,
  li.active {
    background-color: #315ff6;
  }
}
.main-content {
  position: relative;
  h1.page-title {
    padding-top: 0;
    margin-top: 0;
  }
  .edit-this-page {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 0.8em;
  }
  a {
    text-decoration: underline;
  }
}
