<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <meta charset="UTF-8">

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>

  <header>
  <div class="page-header" role="banner">
    <div class="logo"><img src="/assets/img/scouts/Scouts_Logo_Stack_Purple.png" alt="Scouts" /></div>
    <div class="title">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">
        {{ site.description | default: site.github.project_tagline }}</h2>
    </div>
    </div>
    <nav class="page-header-links">
      <ul>
        {% assign pages_list = site.pages | sort: 'order' %}
        {% assign group = 'navigation' %}
        {% include pages_list %}
      </ul>
    </nav>
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}
    <div class="edit-this-page"><a href="https://github.com/3rdRingwood/3rdringwood.github.io/edit/master/{{page.path}}">Edit this page</a></div>

    <footer class="site-footer">
      3rd Ringwood Scout Group is a registered charity, registration number 302282. 
      <span class="site-footer-owner"><a href="http://ringwoodscouts.co.uk">RingwoodScouts.co.uk</a>
        is editable <a href="{{ site.github.repository_url }}">on GitHub</a>.</span>
    </footer>
  </main>
</body>

</html>
